body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.top {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"hero hero cta1"
		"hero hero cta2"
}

/* HERO GRID STYLING */
.hero {
	grid-area: hero;
	min-height: 400px;
	background: white url(images/taco.jpg);
	background-size: cover;
	background-position: bottom right;
	padding: 50px;

	/* display: grid;
	justify-content: flex-start;
	align-content: center; */

	/* turning our grid items into flex so that we can more tightly control the width of the subsequent columns */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

}

.hero > * {
	background: var(--yellow);
	padding: 5px;
}

.cta {
	background: var(--yellow);

	display: grid;
	justify-items: center;
	align-content: center;
	/* place-items: center center; */
}

.cta p {
	margin: 0;
}

.cta1 {
	grid-area: cta1;
}

.cta2 {
	grid-area: cta2;
}

.price {
	font-size: 60px;
	font-weight: 300;
}

/* MENU GRID STYLING */
.menu ul {
	display: grid;
	grid-gap: 10px;
	margin: 20px 0;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	padding: 0;
	list-style: none;
}

.menu a {
	background: var(--yellow);
	display: block;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	color: var(--black);
	text-transform: uppercase;
	font-size: 20px;
}

/* using CSS attribute selector, we'll display it again when hitting the small screen breakpoint */
[aria-controls="menu-list"] {
	display: none;
}

/* FEATURES STYLING */
.features {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
	background: white;
	padding: 10px;
	border: 1px solid white;
	text-align: center;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.feature .icon {
	font-size: 50px;
}

.feature p {
	color: rgba(0, 0, 0, 0.5);
}
